[submodule "ext_libs/spdlog"]
	path = ext_libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ext_libs/boost"]
	path = ext_libs/boost
	url = https://github.com/boostorg/boost
[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "docs/Spirit-Doxygen"]
	path = docs/Spirit-Doxygen
	url = https://github.com/Matthieu-Beauchamp/Spirit-Doxgen
